# Preamble

In [133]:
import pandas as pd
import numpy as np

# Preliminary Exploration

In [136]:
data = pd.read_csv("/dataset.csv", index_col = "Sample")
data.head()

,Bacteria-1,Bacteria-2,Bacteria-3,Bacteria-4,Bacteria-5,Bacteria-6,Bacteria-7,Bacteria-8,Bacteria-9,Bacteria-10,...,Bacteria-1086,Bacteria-1087,Bacteria-1088,Bacteria-1089,Bacteria-1090,Bacteria-1091,Bacteria-1092,Bacteria-1093,Bacteria-1094,disease
Sample,,,,,,,,,,,,,,,,,,,,,
Sample-1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Disease-2
Sample-2,0,0,0,0,0,0,0,0,0,0,...,0,17111,0,0,0,0,0,0,0,Disease-2
Sample-3,0,10,0,0,0,0,0,0,0,0,...,0,214,0,0,0,0,0,0,0,Disease-2
Sample-4,0,17,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Disease-2
Sample-5,0,8,0,0,0,0,0,0,0,0,...,0,1932,0,0,0,0,0,3,0,Disease-2

In [137]:
print(data.shape)

(7481, 1095)

In [138]:
# Groups data by parameter categroy
def group(data, param):
  res = data.groupby(param)    
  res = [res.get_group(x) for x in res.groups]
  return res
  
disease_groups = group(data,'disease')

for grp in disease_groups:
  print(pd.unique(grp['disease']))

['Disease-1']
['Disease-2']
['Disease-3']
['Healthy']

## Disease 1

In [10]:
disease1 = disease_groups[0]
print(disease1.shape)

(1949, 1095)

In [139]:
disease1.describe()

,Bacteria-1,Bacteria-2,Bacteria-3,Bacteria-4,Bacteria-5,Bacteria-6,Bacteria-7,Bacteria-8,Bacteria-9,Bacteria-10,...,Bacteria-1085,Bacteria-1086,Bacteria-1087,Bacteria-1088,Bacteria-1089,Bacteria-1090,Bacteria-1091,Bacteria-1092,Bacteria-1093,Bacteria-1094
count,1949.0,1949.000000,1949.000000,1949.0,1949.000000,1949.000000,1949.000000,1949.0,1949.0,1949.000000,...,1949.0,1949.0,1949.000000,1949.0,1949.000000,1949.0,1949.0,1949.0,1949.000000,1949.000000
mean,0.0,30.978450,3.552078,0.0,0.003592,0.002565,0.015393,0.0,0.0,0.001026,...,0.0,0.0,815.645459,0.0,0.007183,0.0,0.0,0.0,45.643920,1.556183
std,0.0,320.501317,20.296139,0.0,0.158559,0.113257,0.282569,0.0,0.0,0.045303,...,0.0,0.0,3651.165089,0.0,0.317119,0.0,0.0,0.0,1312.283769,33.095757
min,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.000000,...,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.000000,0.000000
25%,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.000000,...,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.000000,0.000000
50%,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.000000,...,0.0,0.0,5.000000,0.0,0.000000,0.0,0.0,0.0,0.000000,0.000000
75%,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.000000,...,0.0,0.0,334.000000,0.0,0.000000,0.0,0.0,0.0,0.000000,0.000000
max,0.0,11019.000000,599.000000,0.0,7.000000,5.000000,7.000000,0.0,0.0,2.000000,...,0.0,0.0,79898.000000,0.0,14.000000,0.0,0.0,0.0,53963.000000,1256.000000

## Disease 2

In [140]:
disease2 = disease_groups[1]
print(disease2.shape)

(578, 1095)

In [141]:
disease_groups[1].describe()

,Bacteria-1,Bacteria-2,Bacteria-3,Bacteria-4,Bacteria-5,Bacteria-6,Bacteria-7,Bacteria-8,Bacteria-9,Bacteria-10,...,Bacteria-1085,Bacteria-1086,Bacteria-1087,Bacteria-1088,Bacteria-1089,Bacteria-1090,Bacteria-1091,Bacteria-1092,Bacteria-1093,Bacteria-1094
count,578.0,578.000000,578.000000,578.0,578.0,578.0,578.000000,578.0,578.0,578.000000,...,578.0,578.0,578.000000,578.0,578.0,578.0,578.0,578.0,578.000000,578.000000
mean,0.0,8.660900,0.394464,0.0,0.0,0.0,0.910035,0.0,0.0,0.057093,...,0.0,0.0,583.048443,0.0,0.0,0.0,0.0,0.0,12.823529,0.006920
std,0.0,54.163907,4.535258,0.0,0.0,0.0,8.440979,0.0,0.0,1.253844,...,0.0,0.0,2029.384790,0.0,0.0,0.0,0.0,0.0,143.469814,0.117545
min,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
25%,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
50%,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,...,0.0,0.0,9.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
75%,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,...,0.0,0.0,233.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
max,0.0,930.000000,98.000000,0.0,0.0,0.0,168.000000,0.0,0.0,30.000000,...,0.0,0.0,21445.000000,0.0,0.0,0.0,0.0,0.0,3124.000000,2.000000

## Disease 3

In [142]:
disease3 = disease_groups[2]
print(disease3.shape)

(1213, 1095)

In [143]:
disease3.describe()

,Bacteria-1,Bacteria-2,Bacteria-3,Bacteria-4,Bacteria-5,Bacteria-6,Bacteria-7,Bacteria-8,Bacteria-9,Bacteria-10,...,Bacteria-1085,Bacteria-1086,Bacteria-1087,Bacteria-1088,Bacteria-1089,Bacteria-1090,Bacteria-1091,Bacteria-1092,Bacteria-1093,Bacteria-1094
count,1213.000000,1213.000000,1213.000000,1213.0,1213.0,1213.0,1213.000000,1213.000000,1213.0,1213.0,...,1213.0,1213.0,1213.000000,1213.0,1213.0,1213.0,1213.0,1213.0,1213.000000,1213.000000
mean,0.193735,76.188788,2.154163,0.0,0.0,0.0,0.072547,0.004122,0.0,0.0,...,0.0,0.0,497.112943,0.0,0.0,0.0,0.0,0.0,1.350371,0.292663
std,6.747416,684.921920,46.943282,0.0,0.0,0.0,1.152417,0.143562,0.0,0.0,...,0.0,0.0,2991.938249,0.0,0.0,0.0,0.0,0.0,15.173857,10.078614
min,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
75%,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
max,235.000000,12607.000000,1365.000000,0.0,0.0,0.0,28.000000,5.000000,0.0,0.0,...,0.0,0.0,42261.000000,0.0,0.0,0.0,0.0,0.0,409.000000,351.000000

## Healthy

In [144]:
healthy = disease_groups[3]
healthy.head()

,Bacteria-1,Bacteria-2,Bacteria-3,Bacteria-4,Bacteria-5,Bacteria-6,Bacteria-7,Bacteria-8,Bacteria-9,Bacteria-10,...,Bacteria-1086,Bacteria-1087,Bacteria-1088,Bacteria-1089,Bacteria-1090,Bacteria-1091,Bacteria-1092,Bacteria-1093,Bacteria-1094,disease
Sample,,,,,,,,,,,,,,,,,,,,,
Sample-3741,0,116,0,0,0,0,0,0,0,0,...,0,8093,0,0,0,0,0,0,0,Healthy
Sample-3742,0,0,0,0,0,0,0,0,0,0,...,0,304,0,0,0,0,0,9,0,Healthy
Sample-3743,0,0,0,0,0,0,0,0,0,0,...,0,9,0,0,0,0,0,49,0,Healthy
Sample-3744,0,0,0,0,0,0,0,0,0,0,...,0,4,0,0,0,0,0,0,0,Healthy
Sample-3745,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2,Healthy

## Length Diffs

This section was computed to allow us to visualize the imbalance of the dataset.

In [17]:
disease_cols = ['Disease-1', 'Disease-2', 'Disease-3', 'Healthy']
size_sum = pd.DataFrame([disease1.shape[0], disease2.shape[0], disease3.shape[0], healthy.shape[0]], columns=['Length'])
size_sum.index = disease_cols
size_sum.head()

           Length
Disease-1    1949
Disease-2     578
Disease-3    1213
Healthy      3741

In [18]:
disease_cols

['Disease-1', 'Disease-2', 'Disease-3', 'Healthy']

# Machine Learning

In this section, we undertake the machine learning section of the challenge.

## Part 1: Preprocessing

To first make our data much more usable and representative, we first normalized the data before performing a $\log$ transform. This helped minimize the affects of the outliers in our analysis.

In [148]:
from imblearn.under_sampling import RandomUnderSampler
from imblearn.over_sampling import RandomOverSampler
from sklearn.preprocessing import normalize
from sklearn.model_selection import train_test_split
import regex as re

In [215]:
# Gathering important labels
sample_idx = data.index
bacteria_headers = data.columns[0:-1]

# Changing labels to numerical, correspondance --
# 0: Healthy, 1: Disease 1, 2: Disease 2, 3: Disease 3
diagnosis_labels = data['disease']
diagnosis_labels = [re.sub('Disease-','', str(x)) for x in diagnosis_labels]
diagnosis_labels = [re.sub('Healthy','0', str(x)) for x in diagnosis_labels]
diagnosis_labels = pd.to_numeric(diagnosis_labels)

# Gathering data
norm_data = pd.DataFrame(np.log(data.loc[:,"Bacteria-1":"Bacteria-1094"] + 1), index = sample_idx, columns = bacteria_headers)
norm_data = pd.DataFrame(normalize(norm_data.loc[:,"Bacteria-1":"Bacteria-1094"]), index = sample_idx, columns = bacteria_headers)


norm_data['disease'] = diagnosis_labels

norm_data.head()

,Bacteria-1,Bacteria-2,Bacteria-3,Bacteria-4,Bacteria-5,Bacteria-6,Bacteria-7,Bacteria-8,Bacteria-9,Bacteria-10,...,Bacteria-1086,Bacteria-1087,Bacteria-1088,Bacteria-1089,Bacteria-1090,Bacteria-1091,Bacteria-1092,Bacteria-1093,Bacteria-1094,disease
Sample,,,,,,,,,,,,,,,,,,,,,
Sample-1,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,2
Sample-2,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.253746,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,2
Sample-3,0.0,0.048656,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.108976,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,2
Sample-4,0.0,0.061762,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,2
Sample-5,0.0,0.053825,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.185362,0.0,0.0,0.0,0.0,0.0,0.033959,0.0,2

### Undersampling
Because of the great deal of imbalance in our dataset, we wanted to resample to ensure that the dataset is able to be accurate and unbiased towards the more prevelant 'healthy' labels. 

We have tested oversampling, but have noticed that it took too long for some fitting.

In [206]:
rus = RandomUnderSampler(random_state=537)
us_data, us_cfx = rus.fit_resample(norm_data.drop('disease', axis=1), diagnosis_labels)

# ros = RandomOverSampler(random_state=537)
# os_data, os_cfx = ros.fit_resample(norm_data.drop('disease', axis=1), diagnosis_labels)

# check 
for i in range(0,4):
  print(len(us_cfx[us_cfx == i])) 
  # print(len(os_cfx[os_cfx == i]))

578
578
578
578

In [207]:
us_data.head()

,Bacteria-1,Bacteria-2,Bacteria-3,Bacteria-4,Bacteria-5,Bacteria-6,Bacteria-7,Bacteria-8,Bacteria-9,Bacteria-10,...,Bacteria-1085,Bacteria-1086,Bacteria-1087,Bacteria-1088,Bacteria-1089,Bacteria-1090,Bacteria-1091,Bacteria-1092,Bacteria-1093,Bacteria-1094
0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0
1,0.0,0.000816,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.012367,0.0,0.0,0.0,0.0,0.0,0.000204,0.0
2,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.005657,0.0,0.0,0.0,0.0,0.0,0.000000,0.0
3,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000322,0.0,0.0,0.0,0.0,0.0,0.000000,0.0
4,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.002343,0.0,0.0,0.0,0.0,0.0,0.000000,0.0

### Splitting Test/Train

In [216]:
X_train, X_test, y_train, y_test = train_test_split(us_data, us_cfx, test_size=0.2, random_state=268)

## Part 2: Testing Various Models
In this section, we test out various ML models to see which is best suited to fit our data.

In [210]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
def model_score(y, y_pred):
  print("Accuracy: ", accuracy_score(y, y_pred))
  print("Precision: ", precision_score(y, y_pred, average='weighted'))
  print("Recall: ", recall_score(y, y_pred, average='weighted'))
  print("f1: ", f1_score(y, y_pred, average='weighted'))
  return

### N-Nearest Neighbours

In [211]:
from sklearn.neighbors import NeighborhoodComponentsAnalysis, KNeighborsClassifier
from sklearn.pipeline import Pipeline

nca = NeighborhoodComponentsAnalysis(random_state=789)
knn = KNeighborsClassifier(n_neighbors=10)
pipe = Pipeline([('nca', nca), ('knn', knn)])
pipe.fit(X_train, y_train)

Pipeline(steps=[('nca', NeighborhoodComponentsAnalysis(random_state=789)),
                ('knn', KNeighborsClassifier(n_neighbors=10))])

In [212]:
pred = pipe.predict(X_test)
model_score(y_test, pred)

Accuracy:  0.5680345572354212
Precision:  0.5920562675099856
Recall:  0.5680345572354212
f1:  0.5763026531815435

### MLPC

We found MLPC to have the greatest success in providing a highier level of accuracy. We could improve this better by increase the number of iterations to minimize the residue at the cost of computation time. Otherwise, it would have been beneficial if we were able to have more data to improve the model, especially as it was limited to the size of the 'Disease-2'.

In [164]:
from sklearn.neural_network import MLPClassifier
from sklearn.model_selection import GridSearchCV

In [ ]:
nn_us = MLPClassifier(activation='tanh', solver='adam', learning_rate='invscaling', max_iter = 200)
nn_model_us = nn_us.fit(X_train, y_train)

In [227]:
nn_pred_us = nn_model_us.predict(X_test)
model_score(y_test, nn_pred_us)

Accuracy:  0.6479481641468683
Precision:  0.6572222309315506
Recall:  0.6479481641468683
f1:  0.6516175015665966

Testing another version...

In [ ]:
nn_us = MLPClassifier(activation='tanh', solver='adam', learning_rate='constant', max_iter = 200)
nn_model_us = nn_us.fit(X_train, y_train)

In [229]:
nn_pred_us = nn_model_us.predict(X_test)
model_score(y_test, nn_pred_us)

Accuracy:  0.6544276457883369
Precision:  0.6645977911681225
Recall:  0.6544276457883369
f1:  0.6579659056869136

In [231]:
import joblib
joblib.dump(nn_model_us, 'nn_model.pkl')

['nn_model.pkl']

## Hyperparam Tuning
We also wanted to see if we could tune our model a little more, just to get the best of our scores. Here we investigate just that and discovered that a MLPC none of these alternative had beat the previous models. We could do a wider grid-search but we were limited by time.

In [ ]:
parameters = {'activation' : ['logistic'],
              'solver' : ['adam', 'lbfgs'],
              'learning_rate' : ['constant', 'invscaling']}

mlpc = MLPClassifier()
clf = GridSearchCV(mlpc, parameters)
clf.fit(X_train, y_train)

In [225]:
pd.DataFrame(clf.cv_results_)

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_activation,param_learning_rate,param_solver,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,26.217966,1.977799,0.028510,0.007963,logistic,constant,adam,"{'activation': 'logistic', 'learning_rate': 'c...",0.594595,0.594595,0.591892,0.627027,0.615176,0.604657,0.013975,1
1,22.507627,1.879647,0.043710,0.017419,logistic,constant,lbfgs,"{'activation': 'logistic', 'learning_rate': 'c...",0.600000,0.575676,0.575676,0.635135,0.596206,0.596538,0.021782,4
2,25.711771,2.985710,0.024183,0.001249,logistic,invscaling,adam,"{'activation': 'logistic', 'learning_rate': 'i...",0.589189,0.594595,0.586486,0.618919,0.612466,0.600331,0.012973,2
3,22.831060,2.002803,0.044489,0.009386,logistic,invscaling,lbfgs,"{'activation': 'logistic', 'learning_rate': 'i...",0.594595,0.589189,0.570270,0.629730,0.601626,0.597082,0.019359,3

### Alternate

We tested an alternate classification with a different approach to pre-processing wherein we only took a log transform and did not scale the data. This resulted in improved scores, but we did not choose this as it may be baised towards the larger sets of data eg 'Healthy' diagnosis.

In [200]:
df = data.loc[:,"Bacteria-1":"Bacteria-1094"];
logtrans = np.log(df + 1)

X_train, X_test, y_train, y_test = train_test_split(logtrans, diagnosis_labels, test_size=0.2, random_state=221)

nn = MLPClassifier(activation='logistic', solver='lbfgs', learning_rate='adaptive', max_iter = 2000)
nn_model = nn.fit(X_train, y_train)

In [201]:
nn_pred = nn.predict(X_test)
model_score(y_test, nn_pred)

Accuracy:  0.7802271209084837
Precision:  0.7819560325340138
Recall:  0.7802271209084837
f1:  0.7809213785287862